# Function Practice Exercises

Problems are arranged in increasing difficulty:
* Warmup - these can be solved using basic comparisons and methods
* Level 1 - these may involve if/then conditional statements and simple methods
* Level 2 - these may require iterating over sequences, usually with some kind of loop
* Challenging - these will take some creativity to solve

In [19]:
mystring = 'Heleiosdd'
newstr = ''
for n in range(0,len(mystring)):
    if n % 2 == 0:
         newstr = newstr+(mystring[n].upper())
            
    else:
         newstr = newstr+(mystring[n].lower())
            
newstr

'HeLeIoSdD'

## WARMUP SECTION:

#### LESSER OF TWO EVENS: Write a function that returns the lesser of two given numbers *if* both numbers are even, but returns the greater if one or both numbers are odd
    lesser_of_two_evens(2,4) --> 2
    lesser_of_two_evens(2,5) --> 5

In [20]:
def lesser_of_two_evens(a,b):
    if a % 2 == 0 and b % 2 == 0:
        return min(a,b)
    else:
        return max(a,b)
    pass

In [21]:
# Check
lesser_of_two_evens(2,4)

2

In [22]:
# Check
lesser_of_two_evens(2,5)

5

#### ANIMAL CRACKERS: Write a function takes a two-word string and returns True if both words begin with same letter
    animal_crackers('Levelheaded Llama') --> True
    animal_crackers('Crazy Kangaroo') --> False

In [29]:
def animal_crackers(text):
    words = text.split()
    if words[0][0].lower == words[1][0].lower:
        return True
    else:
        return False
    pass

In [35]:
string='Happy Lemon'
words=string.split()
words[0][1]=words[1][0]

TypeError: 'str' object does not support item assignment

In [30]:
# Check
animal_crackers('Levelheaded Llama')

True

In [31]:
# Check
animal_crackers('Crazy Kangaroo')

False

#### MAKES TWENTY: Given two integers, return True if the sum of the integers is 20 *or* if one of the integers is 20. If not, return False

    makes_twenty(20,10) --> True
    makes_twenty(12,8) --> True
    makes_twenty(2,3) --> False

In [32]:
def makes_twenty(n1,n2):
    if n1 == 20 or n2 == 20:
        return True
    elif (n1 + n2) == 20:
        return True
    else:
        return False
    pass

In [33]:
# Check
makes_twenty(20,10)

True

In [34]:
# Check
makes_twenty(2,3)

False

# LEVEL 1 PROBLEMS

#### OLD MACDONALD: Write a function that capitalizes the first and fourth letters of a name
     
    old_macdonald('macdonald') --> MacDonald
    
Note: `'macdonald'.capitalize()` returns `'Macdonald'`

In [38]:
def old_macdonald(name):
    newName=''
    for i in range(0,len(name)):
        if i == 0 or i == 3:
            newName = newName + name[i].upper()
        else:
            newName = newName + name[i]
    return newName

In [39]:
# Check
old_macdonald('macdonald')

'MacDonald'

#### MASTER YODA: Given a sentence, return a sentence with the words reversed

    master_yoda('I am home') --> 'home am I'
    master_yoda('We are ready') --> 'ready are We'
    
Note: The .join() method may be useful here. The .join() method allows you to join together strings in a list with some connector string. For example, some uses of the .join() method:

    >>> "--".join(['a','b','c'])
    >>> 'a--b--c'

This means if you had a list of words you wanted to turn back into a sentence, you could just join them with a single space string:

    >>> " ".join(['Hello','world'])
    >>> "Hello world"

In [40]:
def master_yoda(text):
    words = text.split()
    return " ".join([words[2], words[1], words[0]])

In [41]:
# Check
master_yoda('I am home')

'home am I'

In [42]:
# Check
master_yoda('We are ready')

'ready are We'

#### ALMOST THERE: Given an integer n, return True if n is within 10 of either 100 or 200

    almost_there(90) --> True
    almost_there(104) --> True
    almost_there(150) --> False
    almost_there(209) --> True
    
NOTE: `abs(num)` returns the absolute value of a number

In [45]:
def almost_there(n):
    d1 = abs(n - 100)
    d2 = abs(n - 200)
    if d1 <= 10 or d2 <= 10:
        return True
    else:
        return False
    pass

In [46]:
# Check
almost_there(104)

True

In [47]:
# Check
almost_there(150)

False

In [48]:
# Check
almost_there(209)

True

In [49]:
almost_there(210)

True

In [51]:
almost_there(88)

False

In [50]:
almost_there(90)

True

# LEVEL 2 PROBLEMS

#### FIND 33: 

Given a list of ints, return True if the array contains a 3 next to a 3 somewhere.

    has_33([1, 3, 3]) → True
    has_33([1, 3, 1, 3]) → False
    has_33([3, 1, 3]) → False

In [55]:
def has_33(nums):
    for i in range(0,len(nums)):
        if nums[i] == 3:
            if i == 0:
                if nums[i+1] == 3:
                    return True
                else:
                    pass
            elif i == len(nums)-1:
                if nums[i-1] == 3:
                    return True
                else:
                    pass
            else:
                if nums[i-1] == 3 or nums[i+1] == 3:
                    return True
                else:
                    pass
        else:
            pass
    return False

In [56]:
# Check
has_33([1, 3, 3])

True

In [57]:
# Check
has_33([1, 3, 1, 3])

False

In [58]:
# Check
has_33([3, 1, 3])

False

In [60]:
has_33([3,6,3,2])

False

#### PAPER DOLL: Given a string, return a string where for every character in the original there are three characters
    paper_doll('Hello') --> 'HHHeeellllllooo'
    paper_doll('Mississippi') --> 'MMMiiissssssiiippppppiii'

In [63]:
t = 'Hello'
t[1]

'e'

In [64]:
def paper_doll(text):
    pd=''
    for i in range(0,len(text)):
        pd=pd+text[i]*3
    return pd

In [65]:
# Check
paper_doll('Hello')

'HHHeeellllllooo'

In [66]:
# Check
paper_doll('Mississippi')

'MMMiiissssssiiissssssiiippppppiii'

#### BLACKJACK: Given three integers between 1 and 11, if their sum is less than or equal to 21, return their sum. If their sum exceeds 21 *and* there's an eleven, reduce the total sum by 10. Finally, if the sum (even after adjustment) exceeds 21, return 'BUST'
    blackjack(5,6,7) --> 18
    blackjack(9,9,9) --> 'BUST'
    blackjack(9,9,11) --> 19

In [67]:
def blackjack(a,b,c):
    s = a+b+c
    if s <= 21:
        return s
    elif a == 11 or b == 11 or c == 11:
        newSum = s - 10
        if newSum > 21:
            return 'BUST'
        else:
            return newSum
    else:
        return 'BUST'
    pass

In [68]:
# Check
blackjack(5,6,7)

18

In [69]:
# Check
blackjack(9,9,9)

'BUST'

In [73]:
# Check
blackjack(10,9,11)

20

In [79]:
arr=[]
type(arr)
print(arr[0])

IndexError: list index out of range

#### SUMMER OF '69: Return the sum of the numbers in the array, except ignore sections of numbers starting with a 6 and extending to the next 9 (every 6 will be followed by at least one 9). Return 0 for no numbers.
 
    summer_69([1, 3, 5]) --> 9
    summer_69([4, 5, 6, 7, 8, 9]) --> 9
    summer_69([2, 1, 6, 9, 11]) --> 14

In [97]:
def summer_69(arr):
    n=0
    for i in range(0 , len(arr)):
        if arr[i] == 6:
            for j in range(i+1,len(arr)):
                if arr[j] == 9:
                    for k in range(j+1, len(arr)):
                        n=n+arr[k]
                    return n
                   
                else:
                    pass
        else:    
            n = n + arr[i]
            
    return n

In [98]:
# Check
summer_69([1, 3, 5])

9

In [99]:
# Check
summer_69([4, 5, 6, 7, 8, 9])

9

In [100]:
# Check
summer_69([2, 1, 6, 9, 11])

14

# CHALLENGING PROBLEMS

#### SPY GAME: Write a function that takes in a list of integers and returns True if it contains 007 in order

     spy_game([1,2,4,0,0,7,5]) --> True
     spy_game([1,0,2,4,0,5,7]) --> True
     spy_game([1,7,2,0,4,5,0]) --> False

In [105]:
def spy_game(nums):
    for i in range(0, len(nums)):
        if nums[i] == 0:
            for j in range(i+1, len(nums)):
                if nums[j] == 0:
                    for k in range(j+1, len(nums)):
                        if nums[k] == 7:
                            return True
                        else:
                            pass
                else:
                    pass
        else:
            pass
    return False

In [106]:
# Check
spy_game([1,2,4,0,0,7,5])

True

In [107]:
# Check
spy_game([1,0,2,4,0,5,7])

True

In [108]:
# Check
spy_game([1,7,2,0,4,5,0])

False

#### COUNT PRIMES: Write a function that returns the *number* of prime numbers that exist up to and including a given number
    count_primes(100) --> 25

By convention, 0 and 1 are not prime.

In [109]:
import math

def is_prime2(num):
    '''
    Better method of checking for primes. 
    '''
    if num % 2 == 0 and num > 2: 
        return False
    for i in range(3, int(math.sqrt(num)) + 1, 2):
        if num % i == 0:
            return False
    return True

In [118]:
def count_primes(num):
    pCount=0
    for n in range(2, num+1):
        if is_prime2(n):
            pCount+=1
            print(f'The number {n} is the {pCount}th prime number')
        else:
            pass
    return pCount

In [119]:
# Check
count_primes(101)

The number 2 is the 1th prime number
The number 3 is the 2th prime number
The number 5 is the 3th prime number
The number 7 is the 4th prime number
The number 11 is the 5th prime number
The number 13 is the 6th prime number
The number 17 is the 7th prime number
The number 19 is the 8th prime number
The number 23 is the 9th prime number
The number 29 is the 10th prime number
The number 31 is the 11th prime number
The number 37 is the 12th prime number
The number 41 is the 13th prime number
The number 43 is the 14th prime number
The number 47 is the 15th prime number
The number 53 is the 16th prime number
The number 59 is the 17th prime number
The number 61 is the 18th prime number
The number 67 is the 19th prime number
The number 71 is the 20th prime number
The number 73 is the 21th prime number
The number 79 is the 22th prime number
The number 83 is the 23th prime number
The number 89 is the 24th prime number
The number 97 is the 25th prime number
The number 101 is the 26th prime number

26

### Just for fun:
#### PRINT BIG: Write a function that takes in a single letter, and returns a 5x5 representation of that letter
    print_big('a')
    
    out:   *  
          * *
         *****
         *   *
         *   *
HINT: Consider making a dictionary of possible patterns, and mapping the alphabet to specific 5-line combinations of patterns. <br>For purposes of this exercise, it's ok if your dictionary stops at "E".

In [136]:
def print_big(letter):
    if letter == 'a':
        big = '  *  '+'\n'+' * * '+'\n'+'*****'+'\n'+'*   *'+'\n'+'*   *'
    elif letter == 'b':
        big = '*****\n**  *\n*****\n**  * \n*****'
    print(big)
    pass

In [137]:
print_big('b')

*****
**  *
*****
**  *
*****

## Great Job!